# If WiFi login/join fails, check /wpa_net_status_log.txt

# Country code: 2-letter ISO code (DK, DE, US, etc.)
country=XX

network={
    # Use quotes for SSID.
    ssid="REPLACE_WITH_WIFI_NAME"

    # Use plain password in quotes OR PSK (hex) without quotes.
    psk="REPLACE_WITH_WIFI_PASSWORD_OR_PSK"

    # Keep proto and key_mgmt. Only WPA2 is supported.
    proto=WPA2
    key_mgmt=WPA-PSK

    # Uncomment for hidden SSID.
    # scan_ssid=1
}
